<div class="max-w-[100rem]  px-4 py-2 sm:px-4 lg:px-10 lg:py-2 mx-0 ">
  <div class=" grid md:grid-cols-4 border border-gray-200 shadow-sm rounded-xl overflow-hidden dark:border-neutral-800">
    <stats-carga-datos [NombreStat]="'Inventarios Creados'" [ValorStat]="ValorInventariosCreados"/>
    <stats-carga-datos [NombreStat]="'Inventarios Asignados'"[ValorStat]="ValorInventariosAsignados"/>
    <stats-carga-datos [NombreStat]="'Inventarios Activos'"[ValorStat]="ValorInventariosActivos"/>
    <stats-carga-datos [NombreStat]="'Inventarios por empresa'"[ValorStat]="ValorInventariosPorEmpresa"/>
  </div>
</div>

