section {
  padding: 0 4.5rem;
}

section header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

section header a {
  display: flex;
  text-decoration: underline;
  color: var(--color-principal-1);
  align-items: center;
}

section header a i {
  font-size: 1.5rem;
}

section header .container_status {
  display: flex;
  gap: .6rem;
  flex-wrap: wrap;
}

section header .container_status .tarjet_principal {
  flex: 1;
  border: 1px solid var(--color-principal-4);
  border-radius: 10px;
  display: flex;
}

section header .container_status .tarjet_principal  .tarjet_detalle_izquierda {
  padding: 1rem;
  box-sizing: border-box;
}

section header .container_status .tarjet_principal  .tarjet_detalle_izquierda h3 {
  color: var(--color-principal-1);
}

section header .container_status .tarjet_principal  .tarjet_detalle_izquierda span {
  font-size: 1.5rem;
}

section header .container_status .tarjet_principal  .tarjet_detalle_derecha {
  display: grid;
  place-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

section header .container_status .tarjet_principal  .tarjet_detalle_derecha .container_icon {
  width: 38px;
  height: 38px;
  border-radius: 50px;
  display: grid;
  place-content: center;
  color: #fff;
  font-size: 1.5rem;
  background-color: var(--color-principal-2);
}


/* DISEÑO TABLA */



main .header_title_table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid #DBDBDB;
  padding: .5rem 1.5rem;
  border-radius: 10px 10px 0 0 ;
  flex-wrap: wrap;
}

main .header_title_table .header_title_details h3{
  color: var(--color-principal-1);
}

main .header_title_table .header_title_details p{
  color: var(--color-principal-5);
}

main .header_title_table .header_container_buttons {
  display: flex;
  gap: .5rem;
}

main .header_title_table .header_container_buttons button {
  display: flex;
  justify-content: space-between;
  padding: .3rem .6rem;
  gap: .5rem;
  align-items: center;
}

main .header_title_table .header_container_buttons button i {
  font-size: 1.1rem;
}

main .header_title_table .header_container_buttons button:first-child {
  border: 1px solid var(--color-principal-3);
  border-radius: 10px;
  background-color: rgba(0, 209, 174, 0.1);
  color: var(--color-principal-1);
  font-weight: 800;
}

main .header_title_table .header_container_buttons button:last-child {
  border: 1px solid var(--color-principal-1);
  border-radius: 10px;
  background-color: var(--color-principal-1);
  color: #fff;
  font-weight: 800;
}

main table {
  width: 100%;
  border-top: 0px solid #DBDBDB;
  border-left: 1px solid #DBDBDB;
  border-right: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 2rem;
}

main table thead {
  background-color: var(--color-principal-4);
  height: 2rem;

}

main table thead  tr {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-principal-1);
}


main table tbody  tr {
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-principal-5);
  padding: .3rem 0;
  border-bottom: 1px solid var(--color-principal-4);
}

main table tbody  tr:hover{
  background-color: rgba(0, 209, 174, .11);
}

main table thead  tr th:first-child,
main table tbody tr td:first-child {
  flex: .2;
}

main table thead  tr th:nth-child(2),
main table tbody tr td:nth-child(2) {
  flex: 1;
}

main table thead  tr th:nth-child(3),
main table tbody tr td:nth-child(3) {
  flex: .2;
}

main table thead  tr th:nth-child(4),
main table tbody tr td:nth-child(4) {
  flex: .1;
}

main table thead  tr th:nth-child(5),
main table tbody tr td:nth-child(5) {
  flex: .1;
}

main table tbody tr td:first-child {
  display: flex;
  padding: 0 .6rem;
  gap: .6rem;
  color: #4d4d4d;
}

main table thead  tr th:nth-child(2) {
  text-align: left;
  padding: 0 .5rem;
  box-sizing: border-box;
}

main table tbody tr td:nth-child(2) {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  box-sizing: border-box;
}

main table tbody tr td:nth-child(3) {
  text-align: center;
}

main table tbody tr td button{
  width: 42px;
  height: 42px;
  border: none;
  border-radius: 50px;
  display: grid;
  place-content: center;
  background-color: transparent;
}

main table tbody tr td button i {
  font-size: 1.5rem;
}

main table tbody tr td .ver_detalle i{
  color: var(--color-principal-1);
}

main table tbody tr td:nth-child(3) {
  color: #4d4d4d;
}

main table tbody tr td:nth-child(4),
main table tbody tr td:nth-child(5) {
  display: grid;
  place-content: center;
}

main table tbody tr td .ver_detalle img,
main table tbody tr td .eliminar_item img {
  background-color: #fff;
  border-radius: 50px;
}

main table tbody tr td .eliminar_item:hover {
  background-color: rgba(225, 0, 0, .2);
  transition: all 0.3s ease;
}

main table tbody tr td .eliminar_item:hover {
  background-color: rgba(225, 0, 0, .2);
  transition: all 0.3s ease;
}

main table tbody tr td .ver_detalle:hover {
  background-color: rgba(32, 71, 126, .2);
  transition: all 0.3s ease;
}

/* MODAL CARGA DATOS */

.container_seleccion_archivo {
  width: 100%;
  height:auto;
  background-color: var(--color-principal-1);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.container_seleccion_archivo h4 {
  color: var(--color-principal-3);
  font-weight: 800;
}

.container_seleccion_archivo p {
  color: #fff;
  font-size: .8rem;
}










.container-space-y-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #F0F0F0;
  border-radius: 5px;
  margin: 1rem 0;
}

.upload-label {
  padding: 1rem;
  display: block;
  text-align: center;
  cursor: pointer;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.2s ease;
}

.upload-label:focus-within {
  ring-color: #00D1AE;
  box-shadow: 0 0 0 2px #00D1AE, 0 0 0 4px rgba(229, 231, 235, 1);
}

.upload-label:hover {
  background-color: rgba(229, 231, 235, 0.2);
}

.upload-label.dark {
  border-color: #3f3f3f;
}

.upload-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.upload-icon {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  color: #9ca3af;
}

.upload-icon.dark {
  color: #4b5563;
}


.upload-text {
  /* margin-top: 0.5rem; */
  font-size: 0.875rem;
  color: #1f2937;
}

.upload-text.dark {
  color: var(--color-principal-5);
}


.upload-highlight {
  color: #00D1AE;
  transition: color 0.2s ease;
}

.upload-highlight:hover {
  color: #00D1AE;
}


.upload-help {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  color: #6b7280;
}

.upload-help.dark {
  color: #9ca3af;
}











.container_seleccion_archivo button {
  background-color: var(--color-principal-3);
  color: #fff;
  border: none;
}


.containar_ver_detalle {
  height: 2rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  background-color: var(--color-principal-4);
}

.containar_ver_detalle h4 {
  color: var(--color-principal-1);
  font-weight: 700;
}

.containar_ver_detalle h4 span {
  color: var(--color-principal-5);
  font-weight: 700;
}

.containar_ver_detalle h4 {
  font-size: .8rem;
}

.Nombre_Inventario {
  display: flex;
  flex-direction: column;
}

.Nombre_Inventario label {
  text-align: left;
}

.Nombre_Inventario input {
  border: 1px solid var(--color-principal-5);
}

.Buttons_eventos {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.Buttons_eventos button {
  flex: 1
}

.button_cancelar {
  padding: 0.625rem 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--color-principal-5);
  transition: background-color 0.2s;
}

.Buttons_eventos button:last-child {
  background-color: var(--color-principal-3);
  color: #fff;
}
