<table>
  <thead>
    <tr>
      <th><span>Fecha</span></th>
      <th><span>Descripción</span></th>
      <th><span>Total ítems</span></th>
      <th><span>Ver</span></th>
      <th><span>Eliminar</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
    <tr>
      <td><img src="../../../../../../assets/svg/icon_calendario.svg" alt=""> <span>12/03/2024</span></td>
      <td><img src="../../../../../../assets/svg/icon_excel.svg" alt=""> 12022024-Carga Marzo</td>
      <td>2000</td>
      <td><button title="any" class="ver_detalle"><img src="../../../../../../assets/svg/icon_ver.svg" alt=""></button></td>
      <td><button title="any" class="eliminar_item"><img src="../../../../../../assets/svg/icon_eliminar.svg" alt=""></button></td>
    </tr>
  </tbody>
</table>
