<!-- <div class="header_container_buttons">
  <button (click)="BtndescargarPlantilla()"><i class="uil uil-export"></i>Descargar plantilla</button>
  <button
    type="button"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="hs-sign-out-alert-small-window"
    data-hs-overlay="#hs-sign-out-alert-small-window"
  >
    <i class="uil uil-plus"></i>Cargar Excel
  </button>
</div> -->

<div class="inline-flex gap-x-2">
  <button
    (click)="BtndescargarPlantilla()"
    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
  >
  <i class="uil uil-export"></i>
    Plantilla
  <img src="../../../../../../assets/svg/icon_excel.svg" alt="">
  </button>

  <button
    type="button"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="hs-sign-out-alert-small-window"
    data-hs-overlay="#hs-sign-out-alert-small-window"
    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
  >
    <svg
      class="shrink-0 size-4"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path d="M5 12h14" />
      <path d="M12 5v14" />
    </svg>
    Nuevo
  </button>
</div>
